body {
	font-family: $mainFont;
	
	.wrapper {
		 height: 100vh;
		 background-color: $secondaryColor;

		.header_container {
			position: fixed;
			width: 100%;
			z-index: 2;

			header{
				height: 80px;
				background-color: $secondaryColor;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 0 40px 0 40px;

				#title_container {
					display: flex;
					align-items: center;
					cursor: pointer;

					#icon_title {
						width: 33px;
					}
			
					h1 {
						font-family: $titleFont;
						font-size: 42px;
						padding-top: 8px;
						margin: 0px;
						color: white;
					}
				}

				.search_container {
					display: flex;
					align-items: center;
					
										
					input {
						border-radius: 2rem;
						height: 45px;
						width: 330px;
						margin-right: 10px;
						padding: 10px;
						outline: none;
						cursor: text;
					}
				

					button{
						border-radius: 2rem;
						display: inline-block;
						width: 45px;
						height: 45px;
						border-bottom: none;
						color: $primaryColor;
						cursor: pointer;
						outline: none;

						.icon_search{
							font-size: 22px;
						}

					}
				}
			}
		
			.section_container{
				background-color: rgba(37, 145, 122, 0.911);
				border-top: 2px white;
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 0 10px 0 18px;
				height: 90px;
				border-top: 7px solid white;

				.icon_fav {
					font-size: 20px;
					color: white;
					cursor: pointer;

					&:hover{
						animation: beat .40s infinite alternate;
						@keyframes beat{
							to { transform: scale(1.2); }
						}

					}
				}

				#favourites_list {
					display: flex;
					flex-direction: row;
					justify-content: start;
					align-items: center;

					.listSeries{
						display: flex;
						flex-direction: row;
						justify-content: space-evenly;
						align-items: center;
						background: white;
						border-radius: 20px;
						margin: 15px;

						img {
							width: 39px;
							border-radius: 46px;
						}

						.main-title {
							display: inline;
							font-size: 15px;
							padding: 8px;
						}

						.deleteButton {
							border-radius: 50%;
							font-size: 14px;
							font-weight: 200;
							height: 18px;
							width: 18px;
							background-color: $primaryColor;
							color: white;
							margin-right: 8px;
							padding-bottom: 6px;
							border: none;
							cursor: pointer;
						}
					}

				}
			}
		}
	
		.main_container{
			background-color: $secondaryColor;

			.gif_container{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: 100%;

				#gif_tv {
					width: 350px;
					border: solid 12px white;
					border-radius: 2rem;
					margin-top: 225px;
				}
			}
			

			& ul {
				display: inline-flex;
				flex-wrap: wrap;
				justify-content: stretch;
				margin: 190px 60px 0 60px;
				
				.alert {
					text-align: center;
					color: white;
					font-size: 24px;
				}

				.listSeries {
					width: 247px;
					height: 370px;
					background-color: white;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: 20px;
					border-radius: 32px;
					box-shadow: 8px 8px 18px 0px rgba(0,0,0,0.75);
					cursor: pointer;
					z-index: 1;

					&:hover {
						transform: scale(1.05);
					}

					img {
						border-radius: 21px;
						margin-bottom: 12px;
					}

					.main-title{
						font-size: 15px;
						font-weight: 600;
						text-align: center;
					}
				}

				.favouritesMainStyle{
					background-color:$primaryColor;
					color: white;
				}

				.icon_fav {
					margin-top: 3px;
					font-size: 10px;
					color: white;
				}
			}
		}	
	}
}








